/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Sans-serif;
    line-height: 1.6;
    background-color: black;
    margin:0px 200px;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}
.hero-img{
    height: 900px;
    width: 100%;
    
}


.hero h2{
    padding: 15px 0px 5px;
    color: white;
    text-align: center;
}
.hero p{
    color: white;
    font-size: 16px;
    text-align: center;
}

/* Features Styles */



ul li{
    color: white;
    text-align: center;
    padding:5px 0px;
}


.whatsapp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    width: 400px;
    margin-left:360px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.whatsapp-btn:hover {
    background-color: #12b854;
    cursor: pointer;
}

.whatsapp-btn i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.whatsapp-btn span {
    font-size: 1.2rem;
}

/* Footer Styles */
footer {
   
    padding: 10px;
        color: #fafafa; 
    padding: 20px 0px 50px 0px;
    
}
footer p{
    font-size: 18px;
    color: #7a7a7a;
}
.whatsapp-icon {
    position: fixed;
    bottom: 80px;
    right: 60px;
    z-index: 100;
    cursor: pointer;
}

.whatsapp-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    body {
      margin:0px;
    }
    .whatsapp-btn{
            margin-left:0px !important; 
    }
    main{
        width: fit-content;
    }
    footer p{
        padding: 0px 20px;
    }
    .whatsapp-icon img{
        width: 40px;
        height: 40px;
    }
    .whatsapp-icon {
        bottom: 90px;
    right: 50px;
    }
    .hero-img{
        height: 490px;
        width: 100%;

    }
   
  }
  
